* {
    -fx-white-color: #fff;
    -fx-text-color: #fff !important;
    -fx-primary-color: #293944 !important;
    -fx-arrow-color: #fff !important;
    -fx-primary-color2: #192b3a !important;
    -fx-secondary-color: #506e83 !important;
    -fx-red-color: #EF5350 !important;
    -fx-green-color: #51b055 !important;
}

.circleTheme {
    -fx-stroke: -fx-primary-color !important;
    -fx-fill: -fx-white-color !important;
}

.hyperlink{
    -fx-text-fill: -fx-white-color;
}

.text-field{
    -fx-background-color: -fx-primary-color2 !important;
    -fx-border-color: -fx-white-color !important;
    -fx-text-fill: -fx-text-color;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
}
.text-area .content,
.text-area{
    -fx-background-color: -fx-primary-color2 !important;
    -fx-text-fill: -fx-text-color;
}


.progress-bar .track {
    -fx-background-color: -fx-arrow-color !important;
}

.progress-bar .bar {
    -fx-background-color: -fx-secondary-color !important;
}


#newQueue,
#openLocation {
    -fx-border-color: -fx-white-color !important;
}

#refreshBtn .ikonli-font-icon,
#openLocation .ikonli-font-icon,
#newQueue .ikonli-font-icon {
    -fx-icon-color: -fx-white-color !important;
}

