
.csm_toolbar {
    -fx-background-color: #657a85;
    -fx-padding: 0px 5px 2px 0px;
}

.toolbar_menu, .csm_toolbar .label {
    -fx-text-fill: #FAFAFA;
}

#closeBtn, #hideBtn, #fullWindowBtn, .toolbar_menu {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-cursor: hand;
}


#closeBtn:hover {
    -fx-background-color: #EF5350;
}

#closeBtn .ikonli-font-icon {
    -fx-icon-code: "fas-times";
    -fx-icon-color: #FAFAFA;
}

#fullWindowBtn:hover, #hideBtn:hover, .toolbar_menu:hover {
    -fx-background-color: #37474F;
}

#fullWindowBtn .ikonli-font-icon {
    -fx-icon-code: "far-square";
    -fx-icon-color: #FAFAFA;
}

#hideBtn .ikonli-font-icon {
    -fx-icon-code: "fas-minus";
    -fx-icon-color: #FAFAFA;
}


.side {
    -fx-background-color: #78909C;
}

.side .side_queue {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-cursor: hand;
    -fx-text-fill: #fafafa;
    -fx-font-weight: bold;
}

.side .side_queue.selected_queue {
    -fx-background-color: #fafafa;
    -fx-text-fill: #37474F;
}

#sideScrollPane .scroll-bar:vertical {
    -fx-alignment: LEFT;
}

#newDownloadBtn {
    -fx-min-width: 50;
    -fx-min-height: 50;
    -fx-border-color: transparent;
    -fx-background-color: #4CAF50;
    -fx-background-radius: 40px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(one-pass-box, rgba(55, 71, 79, 0.35), 5, 0, 0, 2);
    -fx-padding: 10px;
}

#newDownloadBtn:hover {
    -fx-background-color: #388E3C;
}

#newDownloadBtn:pressed {
    -fx-effect: none;
}

#newDownloadBtn .ikonli-font-icon {
    -fx-icon-code: "fas-plus";
    -fx-icon-size: 20px;
    -fx-icon-color: #FAFAFA;
}

.bold {
    -fx-font-weight: bold;
}