
.csm_toolbar {
    -fx-background-color: #27374D;
    -fx-padding: 0px 5px 2px 0px;
}

.toolbar_menu, .csm_toolbar .label {
    -fx-text-fill: #DDE6ED;
}

.toolbar_menu {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.toolbar_menu:hover {
    -fx-background-color: #526D82;
}

.padding_10{
    -fx-padding: 10;
}
.padding_5{
    -fx-padding: 5;
}
.padding_x_10{
    -fx-padding: 0 10;
}

.padding_20 {
    -fx-padding: 20;
}

.descText {
    -fx-opacity: 0.7;
}
.title_size{
    -fx-font-size: 20;
}

.title_size2 {
    -fx-font-size: 17;
}

#newDownloadBtn {
    -fx-min-width: 50;
    -fx-min-height: 50;
    -fx-border-color: transparent;
    -fx-background-color: -fx-green2-color;
    -fx-background-radius: 40px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(one-pass-box, rgba(55, 71, 79, 0.2), 5, 0, 0, 2);
    -fx-padding: 10px;
}

#newDownloadBtn:hover {
    -fx-background-color: -fx-green2-color-hover;
}

#newDownloadBtn:pressed {
    -fx-effect: none;
}

#newDownloadBtn .ikonli-font-icon {
    -fx-icon-code: "fas-plus";
    -fx-icon-size: 20px;
    -fx-icon-color: #FAFAFA;
}

.bold {
    -fx-font-weight: bold;
}
.title-opacity{
    -fx-opacity: 0.8;
}

.min-btn {
    -fx-background-color: -fx-primary-color;
    -fx-border-color: -fx-green2-color;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(one-pass-box, rgba(55, 71, 79, 0.2), 5, 0, 0, 2);
    -fx-text-fill: -fx-text-color;
}

.min-btn:hover{
    -fx-background-color: -fx-green2-color;
}
.min-btn:pressed{
    -fx-background-color: -fx-green2-color-hover;
}

.min-btn.check .ikonli-font-icon {
    -fx-icon-code: "fas-check";
    -fx-icon-color: -fx-secondary-color2;
    -fx-icon-size: 14;
}
.min-btn:hover.check .ikonli-font-icon{
    -fx-icon-color: #fff;
}