
.csm_toolbar {
    -fx-background-color: #223b4d;
    -fx-padding: 0px 5px 2px 0px;
}

.toolbar_menu, .csm_toolbar .label {
    -fx-text-fill: #FAFAFA;
}

.toolbar_menu {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.toolbar_menu:hover {
    -fx-background-color: #4a677c;
}

.padding_10{
    -fx-padding: 10;
}

.padding_20 {
    -fx-padding: 20;
}

.descText {
    -fx-opacity: 0.7;
}
.title_size{
    -fx-font-size: 20;
}


#newDownloadBtn {
    -fx-min-width: 50;
    -fx-min-height: 50;
    -fx-border-color: transparent;
    -fx-background-color: #009688;
    -fx-background-radius: 40px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(one-pass-box, rgba(55, 71, 79, 0.2), 5, 0, 0, 2);
    -fx-padding: 10px;
}

#newDownloadBtn:hover {
    -fx-background-color: #018377;
}

#newDownloadBtn:pressed {
    -fx-effect: none;
}

#newDownloadBtn .ikonli-font-icon {
    -fx-icon-code: "fas-plus";
    -fx-icon-size: 20px;
    -fx-icon-color: #FAFAFA;
}

.bold {
    -fx-font-weight: bold;
}
.title-opacity{
    -fx-opacity: 0.8;
}