.tab_btn {
    /*-fx-padding: 3;*/
    -fx-min-height: 40;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-border-color: transparent;
    -fx-border-style: none;
    -fx-font-weight: bold;
    -fx-text-fill: #FAFAFA;
    -fx-background-color: #4a677c;
    -fx-border-insets: 0;
}

.tab_btn_selected {
    -fx-background-color: #009688;
}

.new_down_details {
    -fx-padding: 5;
}

#openLocation .ikonli-font-icon {
    -fx-icon-code: "far-folder-open";
    -fx-icon-color: #4a677c;
    -fx-icon-size: 20;
}

#newQueue .ikonli-font-icon {
    -fx-icon-code: "fas-plus";
    -fx-icon-color: #4a677c;
    -fx-icon-size: 20;
}

#questionBtnSpeed .ikonli-font-icon,
#questionBtnChunks .ikonli-font-icon,
#questionBtnUrl .ikonli-font-icon,
#questionBtnBytes .ikonli-font-icon {
    -fx-icon-code: "far-question-circle";
    -fx-icon-color: #009688;
    -fx-icon-size: 20;
}

#newQueue,
#openLocation {
    -fx-border-color: #4a677c;
    -fx-background-color: transparent;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-cursor: hand;
}

#questionBtnSpeed,
#questionBtnChunks,
#questionBtnUrl,
#questionBtnBytes {
    -fx-background-color: transparent;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-cursor: hand;
}

#openLocation:hover,
#newQueue:hover {
    -fx-background-color: #546E7A;
    -fx-border-color: #546E7A;
}

#openLocation:hover .ikonli-font-icon,
#newQueue:hover .ikonli-font-icon {
    -fx-icon-color: #FAFAFA;
}

#openLocation:pressed,
#newQueue:pressed {
    -fx-background-color: #37474F;
    -fx-border-color: #37474F;
}


.text-field {
    -fx-padding: 10;
}

.bold {
    -fx-font-weight: bold;
}

#errorLabel {
    -fx-text-fill: #F44336;
}

.cancel_btn {
    -fx-padding: 5 13 5 13;
    -fx-border-radius: 7;
    -fx-background-radius: 7;
    -fx-background-color: #FFEBEE;
    -fx-text-fill: #F44336;
    -fx-cursor: hand;
    -fx-font-size: 16;
    -fx-effect: dropshadow(one-pass-box, rgba(244, 67, 54, 0.35), 7, 0, 0, 1);
}

.cancel_btn:hover {
    -fx-background-color: #FFCDD2;
}

.cancel_btn:pressed {
    -fx-background-color: #F44336;
    -fx-text-fill: #fafafa;
}

.add_btn {
    -fx-padding: 5 13 5 13;
    -fx-border-radius: 7;
    -fx-background-radius: 7;
    -fx-background-color: #c9d4d9;
    -fx-text-fill: #051C2D;
    -fx-cursor: hand;
    -fx-font-size: 16;
    -fx-effect: dropshadow(one-pass-box, rgba(3, 169, 244, 0.2), 7, 0, 0, 1);
}

.add_btn:hover {
    -fx-background-color: #a1b2be;
}

.add_btn:pressed {
    -fx-background-color: #051C2D;
    -fx-text-fill: #fafafa;
}

.download_now_btn {
    -fx-padding: 5 13 5 13;
    -fx-border-radius: 7;
    -fx-background-radius: 7;
    -fx-background-color: #B2DFDB;
    -fx-text-fill: #009688;
    -fx-cursor: hand;
    -fx-font-size: 16;
    -fx-effect: dropshadow(one-pass-box, rgba(3, 169, 244, 0.2), 7, 0, 0, 1);
}

.download_now_btn:hover {
    -fx-background-color: #80CBC4;
}

.download_now_btn:pressed {
    -fx-background-color: #009688;
    -fx-text-fill: #fafafa;
}
