[Desktop Entry]
Name=BitKip
Version=1.1.1
Comment=Free download manager
Keywords=download,java,app
Exec=/usr/share/BitKip/bin/BitKip
Terminal=false
Icon=/usr/share/BitKip/logo.png
Type=Application
Categories=app,download
StartupNotify=true

