body {
    background-color: #f3f3f3;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #293944;
    color: white;
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}

form {
    padding: 10px;
    text-align: left;
}

.padding_10 {
    padding: 10px;
}

.text-center {
    text-align: center;
}

.input {
    font-size: 16px;
    padding: 10px;
    width: 400px;
}

label, input[type="radio"] {
    font-size: 16px;
    opacity: 0.7;
}

.btn {
    min-width: 80px;
    min-height: 40px;
    border-color: transparent;
    background-color: #009688;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    box-shadow: 1px 1px 5px 1px rgba(55, 71, 79, 0.2);
    padding: 10px;
}

.btn:hover {
    background-color: #018377;
}

.btn:active {
    box-shadow: none;
}

.btn:hover:disabled,
.btn:disabled,
.btn:active:disabled {
    background-color: #009688;
    opacity: 0.7;
    cursor: default;
}


.save_btn {
    padding: 5px 13px 5px 13px;
    border-radius: 7px;
    background-color: #c9d4d9;
    color: #051C2D;
    font-size: 16px;
    cursor: pointer;
    border-color: transparent;
    box-shadow: 1px 1px 5px 1px rgba(3, 169, 244, 0.2);
}

.save_btn:hover {
    background-color: #a1b2be;
}

.save_btn:hover:disabled,
.save_btn:disabled,
.save_btn:active:disabled {
    background-color: #c9d4d9;
    opacity: 0.7;
    cursor: default;
    color: #051C2D;
}


.save_btn:active {
    background-color: #051C2D;
    color: #fafafa;
}


#ileabdhfjmgaognikmjgmhhkjffggejc-overlay {
    position: fixed !important;
    left: 0px !important;
    top: 0px !important;
    width: 100% !important;
    height: 100% !important;
    z-index: 1000000000 !important;
    background-color: rgba(0, 0, 0, 0.5) !important;
    transition: opacity 0.2s linear !important;
}

#ileabdhfjmgaognikmjgmhhkjffggejc-help {
    width: auto !important;
    font-family: sans-serif !important;
    font-size: 11pt !important;
    font-weight: normal !important;
    line-height: 1.7em !important;
    text-align: left !important;
    color: white !important;
    position: fixed !important;
    bottom: 10px !important;
    right: 10px !important;
    background-color: rgba(0, 0, 0, 0.7) !important;
    z-index: 1000000004 !important;
    opacity: 1 !important;
    cursor: default !important;
    border-radius: 5px !important;
    border-width: 2px !important;
    border-style: solid !important;
    border-color: white !important;
    border-image: initial !important;
    padding: 5px !important;
    transition: opacity 0.2s linear !important;
}

#ileabdhfjmgaognikmjgmhhkjffggejc-help strong {
    font-weight: bolder !important;
}

#ileabdhfjmgaognikmjgmhhkjffggejc-glass {
    position: fixed !important;
    left: 0px !important;
    top: 0px !important;
    width: 100% !important;
    height: 100% !important;
    z-index: 1000000003 !important;
    cursor: default !important;
}

.ileabdhfjmgaognikmjgmhhkjffggejc-relative {
    position: relative !important;
}

.ileabdhfjmgaognikmjgmhhkjffggejc-selected {
    box-shadow: yellow 0px 0px 5px, yellow 0px 0px 5px inset !important;
    background-color: rgba(255, 255, 0, 0.3) !important;
    z-index: 1000000001 !important;
    border-radius: 4px !important;
}