[Desktop Entry]
Name=Uninstall BitKip
Keywords=download,java,app
Exec=/usr/share/BitKip/uninstall.sh
Terminal=false
Icon=/usr/share/BitKip/logo.png
Type=Application
Categories=app,download

