[Desktop Entry]
Name=Uninstall BitKip
Keywords=download,java,app
Exec=bash -c '/usr/share/BitKip/uninstall.sh'
Terminal=true
Icon=/usr/share/BitKip/logo.png
Type=Application
Categories=app,download

